body{
    background-color: green;
}

.container {
    width: 60%;
    margin: 25% auto;
}

.white-keys {
    position: fixed;
}

.white-keys kbd {
    background-color: white;
    border: 1px solid black ;
    text-align: center;
    margin: 0;
    padding: 0;

    display: inline-block;
    width: 30px;
    height: 80px;
}

.black-keys kbd {
    display: inline-block;
    background-color: black;
    color: white;
    width: 30px;
    height: 50px;
    position: relative;
    z-index: 2;
    left: 15px;
    margin-right: 2px;
    text-align: center;
}

.black-keys kbd:nth-child(2) {
    margin-right: 40px;
}

kbd {
}